* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.xlsx binary
*.xls binary
